{% extends "base.html" %}
{% load static %}

{% block title %}
  Profile
{% endblock title %}
{% block content %}
<div class="hero-wrap js-fullheight" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Registe</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Profile</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section contact-section ftco-degree-bg">
      <center class="mb-5 mt-2"><h1>Your Profile</h1></center>
    <div class="container">
      <div class="row border p-5">
        <div class="col-md-4 mx-auto">
            <center class="mb-3"><h5>Your Image</h5>
                <img class="img-fluid rounded-circle border" src="{{object.get_profile_image_filename}}" width="120px" alt="{{object.get_profile_image_filename}}">
            <center>
        </div>
        <div class="col-md-4 mx-auto">
            <center class="mb-3"><h5>Email Info</h5>
                <h6><strong>Username</strong>: {{object.username}}</h6>
                <h6><strong>First Name</strong>: {{object.first_name}}</h6>
                <h6><strong>Last Name</strong>: {{object.last_name}}</h6>
                <h6><strong>Email</strong>: {{object.email}}</h6>
            </center>
        </div>
        <div class="col-md-4 mx-auto">
            <center class="mb-5"><h5>Personal Info</h5>
                <h6><strong>Phone Numper</strong>: {{object.phone_number}}</h6>
                <h6><strong>Country</strong>: {{object.country.name}}</h6>
                <h6><strong>City</strong>: {{object.city}}</h6>
            </center>
        </div>
      </div>
      
      {% if request.user.is_superuser or request.user.is_staff%}
      <div class="row my-3">
        <div class="col-md-4"><center><h5><a href="">Your Rooms</a></h5></center></div>
        <div class="col-md-4"><center><h5><a href="">Your Tours</a></h5></center></div>
        <div class="col-md-4"><center><h5><a href="">Your Posts</a> </h5></center></div>
      </div>
      <hr>
        <center><h2>Your Rooms</h2></center>
      <div class="row">
        {% if object_list %}
        {% for obj in object_list %}
        <div class="col-md-3 ftco-animate">
      <div class="destination">
        <a href="{{obj.get_absolute_url}}" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{obj.img.url}});">
          <div class="icon d-flex justify-content-center align-items-center">
        <span class="icon-search2"></span>
      </div>
        </a>
        <div class="text p-3">
          <div class="d-flex">
            <div class="one">
              <h3><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></h3>
              <p class="rate">
                {% for i in '12345'|make_list %}
                  
                  {% if forloop.counter <= obj.total_rating %}
                    <i class="icon-star"></i>
                    {% else %}
                    <i class="icon-star-o"></i>
                  {% endif %}
                    {% empty %}
                    <i class="icon-star-o"></i>
                    <i class="icon-star-o"></i>
                    <i class="icon-star-o"></i>
                    <i class="icon-star-o"></i>
                    <i class="icon-star-o"></i>
                {% endfor %}
                
                <span style="padding-left: 3px;">{{ obj.total_rating }} Rating</span>
              </p>
            </div>
            <div class="two">
              <span class="price per-price">${{obj.price}}<br><small>/night</small></span>
            </div>
          </div>
          <p>{{obj.descriptions|safe|truncatechars:95}}</p>
          <hr>
          <p class="bottom-area d-flex">
            <span><i class="icon-map-o"></i> {{obj.city.name}}, Fl</span> 
            <span class="ml-auto"><a href="{{obj.get_reservation_url}}">Book Now</a></span>
          </p>
        </div>
      </div>
      </div>
      {% endfor %}
      {% else %}
      <center style="margin: auto;"><h2>Not Found</h2></center>
        {% endif %}
          </div>
      {% endif %}
        
    </div>
  </section>
{% endblock content %}
    