{% extends "base.html" %}
{% load static %}

{% block title %}
  Profile
{% endblock title %}
{% block content %}
<div class="hero-wrap js-fullheight" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Registe</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Profile</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section contact-section ftco-degree-bg">
    {% if messages %}
		{% for message in messages %}
    <div class="container">
      <div class="alert alert-{{message.tags}} alert-dismissible fade show text-center" role="alert">
        <strong>{{message|safe}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
    </div>
		{% endfor %}
		{% endif %}	
      <center class="mb-3 mt-2"><h1>Your Profile</h1></center>
      <center><a href="{{object.get_absolute_url}}update/" class='btn btn-success mb-2'>Update Profile</a></center>
      <center><a href="{% url 'password_change' %}" class="mb-2">Change Password</a></center>
      <div class="container">
      
      <div class="row border p-5">
        <div class="col-md-4 mx-auto {% if request.user.is_superuser or request.user.is_staff%} border-bottom mb-5 {% endif %}">
            <center class="mb-3"><h5>Your Image</h5>
                <img class="img-fluid rounded-circle border" src="{{object.get_profile_image_filename}}" width="120px" alt="{{object.get_profile_image_filename}}">
            <center>
        </div>
        <div class="col-md-4 mx-auto {% if request.user.is_superuser or request.user.is_staff%} border-bottom mb-5 {% endif %}">
            <center class="mb-3"><h5>Email Info</h5>
                <h6><strong>Username</strong>: {{object.username}}</h6>
                <h6><strong>First Name</strong>: {{object.first_name}}</h6>
                <h6><strong>Last Name</strong>: {{object.last_name}}</h6>
                <h6><strong>Email</strong>: {{object.email}}</h6>
            </center>
        </div>
        <div class="col-md-4 mx-auto {% if request.user.is_superuser or request.user.is_staff%} border-bottom mb-5 {% endif %}">
            <center class="mb-5"><h5>Personal Info</h5>
                <h6><strong>Phone Numper</strong>: {{object.phone_number}}</h6>
                <h6><strong>Country</strong>: {{object.country.name}}</h6>
                <h6><strong>City</strong>: {{object.city}}</h6>
            </center>
        </div>
        {% if request.user.is_superuser or request.user.is_staff%}
        {% include "accounts/user_profile_booking.html" %}
        {% endif %}
      </div>
      
      {% if request.user.is_superuser or request.user.is_staff%}
      <form id="show_moving_carts_form" method="POST" action="{% url 'accounts:toggle-profile-option' object.slug %}">
        {% csrf_token %}
        <input onchange="$('#show_moving_carts_form').submit()" type="checkbox" {% if object.toggle_cart_option %}checked {% endif %} name="show_moving_carts" id="show_moving_carts" style="margin-left: -16px;margin-right:7px"><label for="show_moving_carts">Toggle cards display</label>
      </form>
      <div id="main_root_carts">
        {% if object.toggle_cart_option %}
        <div class="cards_head">
    <div class="row my-3" id="option_div">
      <div class="col-md-4" data-option='tours'><center><h5><h4 data-href="{% url 'accounts:profile-option' 'tours' %}" style='color: #f85959;cursor: pointer;'>Your Tours</h4></h5></center></div>
      <div class="col-md-4" data-option='rooms'><center><h5><h4 data-href="{% url 'accounts:profile-option' 'rooms' %}" style='color: #f85959;cursor: pointer;'>Your Rooms</h4></h5></center></div>
      <div class="col-md-4" data-option='posts'><center><h5><h4 data-href="{% url 'accounts:profile-option' 'posts' %}" style='color: #f85959;cursor: pointer;'>Your Posts</h4> </h5></center></div>
    </div>
    <hr>
      <center><h2 id="profile_option_title">Your Rooms</h2></center>
  </div>
  {% endif %}
          <div id="profile_option_div_row_root">
            
            {% if object.toggle_cart_option %}
              {% include "accounts/profile_option.html" %}
              {% else %}
              {% include "accounts/profile_option_2.html" %}
            {% endif %}
              
            
          </div>
      </div>
      {% else %}
      {% include "accounts/user_profile_booking.html" %}
      {% endif %}
        
    </div>
  </section>
{% endblock content %}
    
{% block script %}
{% if request.user.is_superuser or request.user.is_staff and object.toggle_cart_option%}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$("div[data-option] h4").on('click',function(e){
		let elm = $(this)
    console.log(elm)
		$.ajax({
      type:'POST',
      dataType:'json',
			url:elm.data('href'),
			data:{"csrfmiddlewaretoken" : "{{csrf_token}}"},
      success:function(res){
        $('#profile_option_title').text(res.title)
        $('#profile_option_div_row_root').html(res['data'])
      },error(err){
        window.location.replace("{% url 'accounts:login' %}"+'?next={{request.path}}')
      }
    })
	});

</script>
{% endif %} 
{% endblock script %}
	
      