{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}


{% block title %}
	Tours
{% endblock title %}
	

{% block content %}

	<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_3.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Tour</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Destination</h1>
          </div>
        </div>
      </div>
    </div>
	{% if request.user|check_users_for_new_tour %}
	<a href="{% url 'tours:new-tour' %}" class="btn btn-success" style="margin: 27px 15px;cursor: pointer;z-index: 2;position: absolute;right: 12px;color: white;">Add New Tour</a>
	{% endif %}
<section class="ftco-section ftco-degree-bg">
	<div class="container">
		{% if messages %}
		{% for message in messages %}
			  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
				<strong>{{message}}</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
		{% endfor %}
		{% endif %}	
		<div class="row">
			<div class="col-lg-3 sidebar ftco-animate">
				<div class="sidebar-wrap bg-light ftco-animate">
					<h3 class="heading mb-4">Find City</h3>
					<form method="GET">
						<div class="fields">
						<div class="form-group">
							<div class="select-wrap one-third">
							<div class="icon"><span class="ion-ios-arrow-down"></span></div>
							<select name="city" id="" class="form-control" placeholder="Keyword search">
							<optgroup label="Select Location">
							<option value="">---------</option>
							{% for place in places %}
							<option value="{{place.pk}}">{{place}}</option>
							{% endfor %}
							</optgroup>
							</select>
						</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Destination, City" name='locality'>
						</div>
						
						<div class="form-group">
							<input type="text" id="checkin_date" name="data_from" class="form-control" placeholder="Date from">
						</div>
						<div class="form-group">
							<input type="text" id="checkin_date" name="data_to" class="form-control" placeholder="Date to">
						</div>
					<div class="form-group">
						<input type="submit" value="Search" class="btn btn-primary py-3 px-5">
					</div>
					</div>
				</form>
				</div>
				<div class="sidebar-wrap bg-light ftco-animate">
					<h3 class="heading mb-4">Star Rating</h3>
					<form method="post" class="star-rating">
							<div class="form-check">
									<input type="checkbox" class="form-check-input" id="exampleCheck1">
									<label class="form-check-label" for="exampleCheck1">
										<p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
									</label>
							</div>
							<div class="form-check">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">
								<p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i></span></p>
							</label>
							</div>
							<div class="form-check">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">
								<p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
							</label>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">
								<p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
							</label>
							</div>
							<div class="form-check">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">
								<p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
								</label>
							</div>
							</form>
				</div>
		</div>
		<div class="col-lg-9">
			<div class="row">
				{% for obj in object_list %}
				<div class="col-md-4 ftco-animate">
					<div class="destination">
						<a href="{{obj.get_absolute_url}}" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{obj.img.url}});">
							<div class="icon d-flex justify-content-center align-items-center">
						<span class="icon-search2"></span>
					</div>
						</a>
						<div class="text p-3">
							<div class="d-flex">
								<div class="one">
									<h3><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></h3>
									<p class="rate">
										{% for i in '12345'|make_list %}
										  
										  {% if forloop.counter <= obj.total_rating %}
											  <i class="icon-star"></i>
											  {% else %}
											  <i class="icon-star-o"></i>
										  {% endif %}
											  {% empty %}
											  <i class="icon-star-o"></i>
											  <i class="icon-star-o"></i>
											  <i class="icon-star-o"></i>
											  <i class="icon-star-o"></i>
											  <i class="icon-star-o"></i>
										{% endfor %}
										
										<span style="padding-left: 3px;">{{obj.total_rating}} Rating</span>
									</p>
								</div>
								<div class="two">
									<span class="price">${{obj.price}}</span>
								</div>
							</div>
							<p>{{obj.descriptions|safe|truncatewords:10}}</p>
							<p class="days"><span>{{obj.days_number}} days {{obj.days_number|add:1}} nights</span></p>
							<hr>
							<p class="bottom-area d-flex">
								<span><i class="icon-map-o"></i> {{obj.locality}}, {{obj.country}}</span> 
								<span class="ml-auto"><a href="{{obj.get_reservation_url}}">Discover</a></span>
							</p>
						</div>
					</div>
				</div>	
				{% empty %}	
				<center style="margin: auto;"><h2>Not Found</h2></center>
				{% endfor %}
			</div>
			{% if page_obj.paginator.num_pages < 6 %}
				<div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		              <ul>
						{% if page_obj.has_previous %}
						<li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
						{% endif %}
		                
						{% for i in page_obj.paginator.page_range %}
							{% if page_obj.number == i %}
								<li class="active"><span>{{ i }}</span></li>
							{% else %}
								<li><a href="?page={{ i }}">{{ i }}</a></li>
							{% endif %}
						{% endfor %}

						{% if page_obj.has_next %}
						<li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
						{% endif %}
		              </ul>
		            </div>
		          </div>
		    	</div>
				{% else %}
				<div class="row mt-5">
					<div class="col text-center">
					  <div class="block-27">
						<ul>
						  {% if page_obj.has_previous %}
						  <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
						  <li style='cursor: default;'><a>...</a></li>
						  <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
						  {% endif %}
								<li class="active"><span>{{ page_obj.number }}</span></li>
						  {% if page_obj.has_next %}
						  <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
						  <li style='cursor: default;'><a>...</a></li>
						  <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
						  {% endif %}
						</ul>
					  </div>
					</div>
			  </div>
			  {% endif %}
		</div> <!-- .col-md-8 -->
		</div>
	</div>
	</section> <!-- .section -->
{% endblock content %}

    
