{% extends "base.html" %}
{% load static %}
{% load custom_tags %}


{% block title %}
	{{object.title}}
{% endblock title %}
	

{% block content %}

    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_5.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="hotel.html">Hotel</a></span> <span>Hotel Single</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hotels Details</h1>
          </div>
        </div>
      </div>
    </div>


    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto">
          	<div class="row">
          		<div class="col-md-12 ftco-animate">
          			<div class="single-slider owl-carousel">
          				
          				{% for i in object.room_img.all %}
							<div class="item">
          						<div class="hotel-img" style="background-image: url({{i.img.url}});"></div>
          					</div>
						  {% endfor %}

          			</div>
          		</div>
          		<div class="col-md-12 hotel-single mt-4 mb-5 ftco-animate">
          			<span>Our Best hotels &amp; Rooms</span>
					  {% if request.user|check_users_for_update_room %}
					  <a href="{{object.get_delete_url}}" class="btn btn-danger ml-3	" style="float:right">Delete Room</a>
					  	<a href="{{object.get_update_url}}" class="btn btn-success" style="float:right">Update Room</a>
					  {% endif %}
          			<h2>{{object.title}}</h2>
					  
          			<p class="rate mb-5">
          				<span class="loc"><a href="#"><i class="icon-map"></i> {{object.street}}, {{object.locality}}, {{object.country.name}} </a></span>
          				<span class="star">
							{% for i in '12345'|make_list %}
							{% if forloop.counter <= object.total_rating %}
								<i class="icon-star"></i>
								{% else %}
								<i class="icon-star-o"></i>
							{% endif %}
								{% empty %}
								<i class="icon-star-o"></i>
								<i class="icon-star-o"></i>
								<i class="icon-star-o"></i>
								<i class="icon-star-o"></i>
								<i class="icon-star-o"></i>
						  {% endfor %}
						  {%minus_one object.pk%} Rating</span>
    						</p>

    						{{object.descriptions|safe}}
          		</div>


          		<div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
          			<h4 class="mb-4">Our Rooms</h4>
          			<div class="row">
          				{% for room in our_rooms %}
						  <div class="col-md-4">
							<div class="destination">
								<a href="{{room.get_absolute_url}}" class="img img-2" style="background-image: url({{room.img.url}});"></a>
								<div class="text p-3">
									<div class="d-flex">
										<div class="one">
											<h3><a href="{{room.get_absolute_url}}">{{room.title|truncatechars:16}}</a></h3>
											<p class="rate">
												{% for i in '12345'|make_list %}
									  
									  {% if forloop.counter <= room.total_rating %}
									  	<i class="icon-star"></i>
										  {% else %}
										  <i class="icon-star-o"></i>
									  {% endif %}
										  {% empty %}
										  <i class="icon-star-o"></i>
										  <i class="icon-star-o"></i>
										  <i class="icon-star-o"></i>
										  <i class="icon-star-o"></i>
										  <i class="icon-star-o"></i>
									{% endfor %}
												<span style="padding-left: 3px;">{%minus_one room.pk%} Rating</span>
											</p>
										</div>
										<div class="two">
											<span class="price per-price">${{room.price}}<br><small>/night</small></span>
										</div>
									</div>
									<p>{{room.descriptions|safe|truncatewords:20}}</p>
									<hr>
									<p class="bottom-area d-flex">
										<span><i class="icon-map-o"></i> {{room.country.name}}, Fl</span> 
										<span class="ml-auto"><a href="{{room.get_reservation_url}}">Book Now</a></span>
									</p>
								</div>
							</div>
				</div>
						  {% endfor %}
          			</div>
          		</div>
          		<div class="col-md-12 hotel-single ftco-animate mb-5 mt-4" id="reservation_form">
					  
					  
					  {% if messages %}
					  {% for message in messages %}
						  <div class="alert alert-{{message.tags}}">{{message}}</div>
					  {% endfor %}
					  {% endif %}
						  
						  
          			<form method="POST" enctype="multipart/form-data">
						  {% csrf_token %}
						<h4 class="mb-5">Check Availability &amp; Booking</h4>
						{% if object.room_Reservation %}
							<h6>Reservations of this room({{object.room_Reservation.is_active.count}})</h6>
							<div class="row">
								
								{% for room in object.room_Reservation.is_active %}
								<div class="col-md-3 border mx-2 mb-2"><strong>from &nbsp;</strong> {{room.data_from}} <br> <strong>to &nbsp;&nbsp;</strong> {{room.data_to}}</div>
								{% endfor %}
									
								
							</div>
						{% endif %}
						<h4 class='mt-5'>Booking Now</h4>
						<div class="fields">
							<div class="row">
								{% for f in form %}
								  <div class="col-md-6">
								<div class="form-group">
									{{f.label}}
								  {{f}}
								  <small class="text-danger">{{f.errors|striptags}}</small>
								</div>
								
							</div>
								{% endfor %}
								

							  <div class="col-md-12">
								<div class="form-group">
								  <input type="submit" value="Check Availability" class="btn btn-primary py-3">
								</div>
							</div>
						</div>
					  </div>
					  </form>
          		</div>
          		<div class="col-md-12 hotel-single ftco-animate mb-5 mt-4" id='rating_div_id'>
					  
          			<h4 class="mb-4">Review &amp; Ratings</h4>
          			<div class="row">
          				<div class="col-md-6">
          					<form method="post" class="star-rating" id='form2'>
								  {% for i in '12345' %}
									<div class="form-check">
									<input type="checkbox" data-rate="{{ forloop.revcounter }}" class="form-check-input" id="exampleCheck{{ forloop.revcounter }}"  {% if user_and_room|room_rating_chekd:forloop.revcounter %}checked{% endif %}>
									<label class="form-check-label" for="exampleCheck{{ forloop.revcounter }}">
										<p class="rate"><span>
											<i class="icon-star"></i> 
											<i class="{% if forloop.counter|for_loop:5 %}icon-star {% else %}icon-star-o{% endif %}"></i>
											<i class="{% if forloop.counter|for_loop:4 %}icon-star {% else %}icon-star-o{% endif %}"></i>
											<i class="{% if forloop.counter|for_loop:3 %}icon-star {% else %}icon-star-o{% endif %}"></i>
											<i class="{% if forloop.counter|for_loop:2 %}icon-star {% else %}icon-star-o{% endif %}"></i>
											<span data-rating="{% user_rating_numper object.pk forloop.revcounter %}">{% user_rating_numper object.pk forloop.revcounter %} Ratings</span></span></p>
									</label>
								</div>
								  {% endfor %}
								
								
							</form>
          				</div>
          			</div>
          		</div>
          		<div class="col-md-12 hotel-single ftco-animate mb-5 mt-5">
          			<h4 class="mb-4">Related Hotels</h4>
          			<div class="row">
						  {% for room in related_rooms %}
						  <div class="col-md-4">
							<div class="destination">
								<a href="{{room.get_absolute_url}}" class="img img-2" style="background-image: url({{room.img.url}});"></a>
								<div class="text p-3">
									<div class="d-flex">
										<div class="one">
											<h3><a href="{{room.get_absolute_url}}">{{room.title|truncatechars:16}}</a></h3>
											<p class="rate">
												{% for i in '12345'|make_list %}
									  
									  {% if forloop.counter <= room.total_rating %}
									  	<i class="icon-star"></i>
										  {% else %}
										  <i class="icon-star-o"></i>
									  {% endif %}
										  {% empty %}
										  <i class="icon-star-o"></i>
										  <i class="icon-star-o"></i>
										  <i class="icon-star-o"></i>
										  <i class="icon-star-o"></i>
										  <i class="icon-star-o"></i>
									{% endfor %}
												<span style="padding-left: 3px;">{%minus_one room.pk%} Rating</span>
											</p>
										</div>
										<div class="two">
											<span class="price per-price">${{room.price}}<br><small>/night</small></span>
										</div>
									</div>
									<p>{{room.descriptions|safe|truncatewords:20}}</p>
									<hr>
									<p class="bottom-area d-flex">
										<span><i class="icon-map-o"></i> {{room.country.name}}, Fl</span> 
										<span class="ml-auto"><a href="{{room.get_reservation_url}}">Book Now</a></span>
									</p>
								</div>
							</div>
				</div>
						  {% endfor %}
          				
						
          			</div>
          		</div>

          	</div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->
  
{% endblock content %}

{% block script %}
  <script>
	  $(function(){
		  const input_checked= $("input[type='checkbox']:checked")
		$("input[type='checkbox']").change(function(e){	
			
			if(!'{{request.user.is_authenticated}}'){
				console.log('yes')
			}
			$("input[type='checkbox']").not($(this)).removeAttr('checked')
			$.ajax({
				datatype:'json',
				data:{
					'room_id':'{{object.pk}}',
					'rating':e.target.attributes[1].value,
				},
				url:"{% url 'rooms:room-rating' %}",
				success:function(res){
					var msg = `<div class="alert alert-${res.tag} rating_message_div_id">${res.message}</div>`
					var rate_message_l = $('.rating_message_div_id')
					if (rate_message_l.length > 0){
						setTimeout(()=>{$('#rating_div_id').prepend(msg)},200)
						setTimeout(() =>{$('.rating_message_div_id').remove()},500)
						setTimeout(()=>{$('#rating_div_id').prepend(msg)},510)
					}else{
					$('#rating_div_id').prepend(msg)
					}
					console.log(input_checked)
				},error(err){
					{% comment %}
					//window.location.replace("{% url 'rooms:login' %}"+'?next={{request.path}}')
					{% endcomment %}
					window.location.replace("{% url 'rooms:home' %}")
				}
			})
		  }) 
	  })
  </script>
{% endblock script %}