{% extends "base.html" %}
{% load static %}

{% block title %}
  Delete-{{object.title}}
{% endblock title %}

{% block content %}
<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_5.jpg' %});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
			data-scrollax-parent="true">
			<div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
				<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
						class="mr-2"><a href="index.html">Home</a></span> <span>Hotel</span></p>
				<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hotels</h1>
			</div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-md-10 mx-auto mt-5 mb-5">
        <center><h2>Are you sure Do you want delete ({{object.title}})?</h2></center>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <center><a href='{{object.get_absolute_url}}' type="submit" class="btn btn-success m-2 py-3">Cancel </a>
            <button type="submit" class="btn btn-danger m-2 py-3">Delete </button></center>
        </form>
    </div>
</div>


 {% endblock content %}